// this could be much DRYer

.margin-t {
	&-10 {
		margin-top: 1rem;
	}

	&-20 {
		margin-top: 2rem;
	}

	&-30 {
		margin-top: 3rem;
	}

	&-40 {
		margin-top: 4rem;
	}

	&-50 {
		margin-top: 5rem;
	}
}

.margin-b {
	&-10 {
		margin-bottom: 1rem;
	}

	&-20 {
		margin-bottom: 2rem;
	}

	&-30 {
		margin-bottom: 3rem;
	}

	&-40 {
		margin-bottom: 4rem;
	}

	&-50 {
		margin-bottom: 5rem;
	}
}

.hide {
	display: none;
}